// about us 
 .about-us-primary {
    padding: 30px 0;

    &__container {
        .title,
        h1 {
            font-size: 18px;
            font-weight: bold;
            color: #192a3d;
            margin-bottom: 15px;
        }
        .des,p {
            font-size: 18px;
            color: #192a3d;
            margin-bottom: 15px;
        }
    }
 }
// end about us

// contact
.contact-primary {
    padding-top: 80px;
    padding-bottom: 80px;
    &__container {
        display: flex;
        align-items: center;
    }

    &__left {
        width: 42%;
        display: flex;
        align-items: center;

        .social {
            flex-shrink: 0;
            width: 72px;
            padding: 30px 10px;
            background-color: #fff;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

            &-link {
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 14px;
                }
            }
        }

        .form-wrapper {
            flex: 1;
            background-color: #086cb7;
            overflow: hidden;
            box-shadow: 0px 0px 20px 0px rgba(33, 33, 33, 0.25);
            border-radius: 5px;
            border-top: 7px solid #f5ae43;
            padding: 50px;

            .headding-tertiary {
                border-bottom: 1px solid #fff;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .form-item {
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            .form-title {
                font-size: 16px;
                color: #fff;
            }

            .form-input {
                width: 100%;
                height: 40px;
                color: #fff;
                padding: 0 15px;

                &::-ms-input-placeholder { /* Edge 12-18 */
                    color: rgba($color: #fff, $alpha: 0.5);
                  }
                  
                  &::placeholder {
                    color: rgba($color: #fff, $alpha: 0.5);
                  }
            }

            textarea {
                width: 100%;
                height: 185px;
                color: #fff;
                padding: 12px 15px;
                &::-ms-input-placeholder { /* Edge 12-18 */
                    color: rgba($color: #fff, $alpha: 0.5);
                  }
                  
                &::placeholder {
                color: rgba($color: #fff, $alpha: 0.5);
                }
            }

            .form-submit {
                padding: 5px 20px;
                font-size: 15px;
                color: #fff;
                background-color: #0a4595;
                height: 40px;
                font-weight: 500;
                &:hover {
                    background-color: #f5ae43;
                }
            }

        }
    }

    &__right {
        width: 58%;
        overflow: hidden;
        box-shadow: 0px 0px 20px 0px rgba(33, 33, 33, 0.25);
        border-radius: 5px;
        border-top: 7px solid #f5ae43;

        iframe {
            width: 100%;
            height: 550px;
        }
    }
}
// end contact

// cate
.cate-primary {
    --w30: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    &__container {
        
    }
    .article {
        padding: var(--w30);
        box-shadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.08);
        background-color: #fff;

        .article-img {
            margin-left: calc(var(--w30) * -1);
            margin-right: calc(var(--w30) * -1);
        }
    }
}
.author-news {
    background-color: #fff200;

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__img {
        margin-bottom: 10px;
        img {
            width: 60px;
            height: 60px;
            border-radius: 999px;
            margin: auto;
        }
    }

    &__back {
        width: 30px;
        height: 30px;
        border-radius: 990px;
        background-color: #0c96d4;
        display: inline-block;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto 0;
    }
}
// end cate

// chapter
.chapter-primary {
    background-color: rgb(211,221,164);

    &__content {
        padding-right: 170px;

    }
    &__heading {
        font-size: 28px;

        &-inner {
            border-radius: 0px 0px 100px 0px;
            padding: 20px 70px 20px 30px;
            display: inline-block;
            background-color: rgb(102,190,119);
            line-height: 1;
        }
    }
    &__title {
        font-size: 28px;
        margin-top: 20px;
    }
    &__img {
        width: 300px;
        min-height: 300px;
        display: flex;
        background-color: rgb(102,190,119);
        padding: 10px;

        img {
            width: 80%;
            height: auto;
            margin: auto;
        }
    }
}

.chapter-secondary {
    padding-top: 30px;
    padding-bottom: 30px;

    &__left {
        width: 23%;
    }
    &__right {
        padding-left: 40px;
        .heading {
            border-radius: 10px;
            font-size: 28px;
            background-color: #66BE77;
        }
        p {
            text-align: justify;
            font-size: 20px;
            line-height: 130%;
        }
        em {
            font-style: italic;
        }
        strong {
            font-weight: bold;
        }
        &.chapter-1 {
            .heading {
            }
            
        }

        .heading-one__icon {
            flex-shrink: 0;
            img {
                width: 37px;
                height: auto;
            }
        }

        .two-item {
            .img {
                width: 16%;
                padding: 10px;

                img {
                    height: auto;
                    margin: auto;
                }
            }
        }
        .three-item {

            .img {
                width: 20%;
                padding: 10px;

                img {
                    height: auto;
                    margin: auto;
                }
            }
        }
        table {
            width: 100%;
            max-width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            background-color: transparent;
            border: none;
            table-layout: auto;

            .table-head__cell {
                    border-style: solid;
                    border-width: 2px 0 2px 2px;
                    border-color: #009F54;
                    vertical-align: middle;
                    font-size: 18px;
                    color: #192a3d;
                    background-color: #fff;

                    &--one {
                        border-width: 2px 0 2px 2px;
                        border-top-left-radius: 20px;
                        width: 20%;
                    }
                    &--two {
                        width: 33%;
                    }
                    &--three {
                        width: 24%;
                    }
                    &--four {
                        width: 23%;
                        border-width: 2px;
                        border-top-right-radius: 20px;
                    }
            }

            .table-head__text {
                padding: 10px;
                font-size: 16px;
                font-weight: bold;
            }

            .table-body__row {
                &:last-child {
                    .table-body__cell--one {
                        border-bottom-left-radius: 20px;
                    }
                    .table-body__cell--four {
                        border-bottom-right-radius: 20px;
                    }
                }
            }
            .table-body__text {
                padding: 10px;
                font-size: 16px;

                ul {
                    padding-left: 15px;
                    list-style: disc;
                }
            }
            .table-body__cell {
                border-style: solid;
                border-width: 0 0 2px 2px;
                border-color: #009F54;
                vertical-align: middle;
                font-size: 18px;
                color: #192a3d;
                background-color: #fff;

                &--four {
                    border-width: 0 2px 2px 2px;
                }
            }

            .table-body__img {
                padding: 10px;
            }
        }

        .part-two-1 {
            .block-wrapper {
                background-color: #E2F2E2;

                .des {
                    text-align: justify;
                }
            }
            &__img {
                img {
                    width: 82%;
                    height: auto;
                    margin: auto;
                }
            }
        }
        .part-three-1 {
            .note {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border: 3px solid #F16977;
                border-radius: 10px;
                padding: 15px;

                &-img {
                    width: 15%;
                    flex-shrink: 0;

                    &__inner {
                        width: 70px;
                        height: 70px;
                        border-radius: 999px;
                        background-color: #facfcb;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 12px;
                        }
                    }

                    + .note-des {
                        width: 85%;
                        flex: 1;
                    }
                }
                &-des {
                    width: 100%;
                }
            }

            .img {
                height: auto;
            }
        }

        .part-four-1 {
            .block-wrapper {
                background-color: #E2F2E2;

                .des {
                    text-align: justify;
                }
            }

            &__img {
                img {
                    height: auto;
                    width: 100%;
                }
            }
            &__img2 {
                margin-top: -70px;
                img {
                    width: 26%;
                    height: auto;
                    margin: auto;
                }
            }
        }

        .part-five-1 {
            table {
                border-collapse: collapse;
                border-spacing: 0;
                empty-cells: show;
                width: 100%;
                max-width: 100%;

                .table-head__cell{
                    border-width: 1px;
                    border-color: #192a3d;
                    font-size: 16px;
                    text-align: left;
                    &--full {
                        width: 100%;
                    }
                    &--one {
                        width: 23%;
                    }
                    &--two {
                        width: 77%;
                    }
                }
                .table-body__text,
                .table-body__text {
                    padding: 11px 16px;
                }
                .table-body__cell {
                    border-width: 1px;
                    border-color: #192a3d;
                    font-size: 16px;
                }
            }
        }

        .part-six-1 {
            .note {
                display: flex;
                border: 3px solid #F16977;
                border-radius: 10px;
                padding: 15px;

                &-img {
                    width: 15%;
                    flex-shrink: 0;
                    padding: 10px;

                    &__inner {
                        width: 70px;
                        height: 70px;
                        background-color: #f16977;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 12px;
                        }
                    }

                }
                &-des {
                    flex: 1;
                    p {
                        margin-bottom: 16px;
                        img {
                            display: inline-block;
                            vertical-align: middle;
                            width: 30px;
                            height: auto;
                        }
                    }
                }
            }
        }

        .part-seven-1 {
            .procedure {
                &-title {
                    position: relative;
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        height: 3px;
                        width: 32%;
                        background-color: #009F54;
                    }
                }
                &-content {
                    padding: 20px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                }
                &-item {
                    width: 33.3333%;
                    padding: 10px;

                    &--icon {
                        width: 10%;
                    }

                    .procedure-img {
                        img {
                            width: 50%;
                            height: auto;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }

    &__tableOfContent {
        .tableOfContent-headingParent {
            text-decoration: underline;
        }

        .tableOfContent-content {
            border: 1px solid #bdbdbd;
            margin-top: 20px;
        }

        .tableOfContent-heading {
            border-bottom: 1px solid #bdbdbd;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
        }
        .tableOfContent-title {
            flex: 1;
            padding-right: 10px;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
        .tableOfContent-icon{
            flex-shrink: 0;
            width: 15px; 
            
            .minus {
                display: none;
            }
            .plus {
                display: block;
            }
        }
        .tableOfContent-dropdown {
            display: none;
            padding-bottom: 10px;
            border-bottom: 1px solid #bdbdbd;

            &__link {
                padding:10px 10px 2px;
                display: block;
                
            }
        }
        .tableOfContent-item {
            &:last-child {
                .tableOfContent-heading {
                    border-bottom: 0;
                }
            }
            &.active {
                .plus {
                    display: none;
                }
                .minus {
                    display: block;
                }
                .tableOfContent-dropdown {
                    display: block;
                }
            }
        }
    }


}
// end chapter